      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I am Abdullah, studying computer programming in Seneca College and this is WEB322.
            Although a slow learner, I have my full interest in programming and technology overall.
          </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Something "maybe" exciting in this section...</p>
        </aside>
      </div>